name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        working-directory: 02-encontros-tech
        run: |
          python -m pip install --upgrade pip 
          pip install -r requirements.txt

      - name: Testes
        working-directory: 02-encontros-tech
        run: python -m pytest tests/ -v

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: albertohco/encontro:v${{ github.run_number }}
          file: ./02-encontros-tech/Dockerfile
          context: ./02-encontros-tech

  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Save Kubeconfig
        run: doctl kubernetes cluster kubeconfig save ${{ secrets.K8S_CLUSTER }}

      - name: Create Namespace and Secret
        run: |
          kubectl create namespace producao --dry-run=client -o yaml | kubectl apply -f -
          kubectl create secret generic encontros-tech-secrets \
          --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL }}" \
          --namespace=producao \
          --dry-run=client -o yaml | kubectl apply -f -

      - name: Find and Replace Tag
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "albertohco/encontro:latest"
          replace: "albertohco/encontro:v${{ github.run_number }}"
          include: "02-encontros-tech/k8s/manifesto.yaml"

      - name: Deploy to Kubernetes
        run: kubectl apply -f 02-encontros-tech/k8s/manifesto.yaml -n producao
