name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
      runs-on: ubuntu-latest
      steps:
          - run: echo "obter o codigo"
          - run: echo "Executar o Docker Build"
          - run: echo "Enviar a Imagem Docker para o Docker Hub"
  CD:
      runs-on: ubuntu-latest
      needs: [CI]
      steps:
          - run: echo "obter o codigo"
          - run: echo "Configurar o Kubeconfig"
          - run: echo "Fazer o apply do kubernetes"
  
