name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - run: echo "obter o codigo"

      - name: Checkout
        uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Install Dependencies
        working-directory: 02-encontros-tech
        run: |
          python -m pip install --upgrade pip 
          pip install -r requirements.txt
      - name: Testes
        working-directory: 02-encontros-tech
        run: python -m pytest tests/ -v

      - run: echo "Executar o Docker Build"
      - run: echo "Enviar a Imagem Docker para o Docker Hub"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: albertohco/encontro:v${{ github.run_number }}
          file: ./02-encontros-tech/Dockerfile
          context: ./02-encontros-tech

  CD-prd:
    runs-on: ubuntu-latest
    environment: prd
    needs: [CI]
    steps:
      - run: echo "obter o codigo"
      - run: echo "Configurar o Kubeconfig"
      - run: echo "Fazer o apply do kubernetes"

      - name: Checkout
        uses: actions/checkout@v5

      - name: Set context
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Create namespace if not exists
        run: kubectl create namespace producao --dry-run=client -o yaml | kubectl apply -f -

      - name: Create secrets in producao
        run: |
          kubectl create secret generic encontros-tech-secrets \
          --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL }}" \
          --namespace=producao \
          --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to Kubernetes cluster
        uses: Azure/k8s-deploy@v1
        with:
          manifests: |
            ./02-encontros-tech/k8s/manifesto.yaml
          images: |
            albertohco/encontro:v${{ github.run_number }}
